<div class="po-docs-section pos-inputs" ng-controller="PoInputsCtrl">

    <p class="lead">The input error framework was developed to allow other project developers to be able to easily add
        front-end error handling to their user stories.</p>

    <p>It is designed to be developer-friendly yet easily customisable. Developers can either use the default validation
        types, or pass their own custom errors into a directive. Any errors or info messages will collect on a modal/alert
        panel on the page, which can be used to prevent progress from the page if required.</p>

    <p>Validation types are set using po-input. All po-inputs need to be wrapped in a form or ng-form element to work.</p>

    <p>Default error handling is provided to input types (e.g. Email address, phone, currency, time etc.), which will be
        triggered if a field returns invalid for regex patterns or ng-required. These default messages can be customised
        by passing in a custom error object for that failure type, or can be turned off by passing in an error message
        with empty strings. Examples for these behaviours are shown below, along with an alert panel to display the errors.</p>

    <div class="po-example po-input-default-arguments-example" data-example-id="arguments">
        <p class="po-example-description"><b>Postcode with default attributes:</b></p>

        <div class="row">
            <div class="col-xs-12">
                <ng-form name="examplePostcode">
                    <input po-input="ukPostcode" ng-model="defaultArgumentsExample" required-error-obj="postCodeReqErrorObj" ng-required="true">
                </ng-form>
            </div>
        </div>
        <br>
    </div>
    <div hljs>
        <input po-input="ukPostcode" ng-model="defaultArgumentsExample" required-error-obj="postCodeReqErrorObj" ng-required="true">
    </div>
    <div hljs>
        //example controller.js - This overrides default ng-required message
        $scope.postCodeReqErrorObj = {type: 'Alert', message: 'Please enter a Postcode in this box [Custom override example]'};
    </div>

    <div class="po-example po-input-arguments-example" data-example-id="arguments">
        <p class="po-example-description"><b>Postcode with custom label and postcode:</b></p>

        <div class="row">
            <div class="col-xs-12">
                <ng-form name="examplePostcode">
                    <input po-input="ukPostcode" ng-model="argumentsExample" po-label="'UK Postcode'"
                           placeholder="Enter Postcode" pattern-error-obj="postCodeBlankPatternErrorObj">
                </ng-form>
            </div>
        </div>
        <br>
    </div>
    <div hljs>
        <input po-input="ukPostcode" ng-model="argumentsExample" po-label="'UK Postcode'" placeholder="Enter Postcode"
               pattern-error-obj="postCodeBlankPatternErrorObj">
    </div>
    <div hljs>
        //example controller.js
        //blank strings in an error object suppress the creation of an error message
        $scope.postCodeBlankPatternErrorObj = {type: '', message: ''};
    </div>

    <h3>ukPostcode</h3>

    <p>Validates input against UK postcode regex

    <p>

    <div class="po-example po-input-postcode-example" data-example-id="po-alert-notification">
        <div class="row">
            <div class="col-xs-12">
                <ng-form name="examplePostcode">
                    <input po-input="ukPostcode" ng-model="model.postcodeInputModel" pattern-error-obj="postCodePatternErrorObj" >
                    {{model.postcodeInputModel}}
                </ng-form>
            </div>
        </div>
    <br>

        <div class="zero-clipboard"></div>
    </div>
    <div hljs>
        <ng-form name="examplePostcode">
            ...
            <input po-input="ukPostcode" ng-model="model.postcodeInputModel" pattern-error-obj="postCodePatternErrorObj">
            ...
        </ng-form>
    </div>
    <br>
    <div hljs>
        //example controller.js - This overrides default regex pattern failure message
        $scope.postCodePatternErrorObj = {type: 'Alert', message: 'This postcode is not in the correct valid UK format [Custom override example]'};
    </div>

    <h3>ukPhone</h3>

    <p>Validates input against uk phone number regex

    <p>

    <div class="po-example po-input-uk-phone-example" data-example-id="po-phone-field">

        <ng-form name="contactNumber" class="row">
            <div class="col-xs-12">
                <input po-input="ukPhone" ng-model="model.contactNumber">
            </div>
        </ng-form>

        <div class="zero-clipboard"></div>
    </div>
    <br>
    <div hljs>
        <ng-form name="contactNumber">
            <input po-input="ukPhone" ng-model="model.contactNumber">
        </ng-form>
    </div>
    <p>
        Sample alert panel for the above fields (if not shown there are no validation errors):
    </p>
    <po-alert-panel/>
</div>
