<div class="po-docs-section pos-inputs" ng-controller="PoInputsCtrl">
    <h1 pod-heading="POS forms"></h1>

    <h2 pod-sub-heading="po-input"></h2>

    <p class="lead">po-input directive takes care of the validation on the input field, its styling and binding the
        result to the model.</p>

    <p>
        <b>NOTE:</b>
        when a non-default po-input type is provided, angular supported elements are not recommended.
        Instead, it is recommended to create a new type and contribute back here. See the contributing section.</p>

    <h3>Supported Arguments</h3>
    <ul>
        <li>*po-input="string" an enumeration of predefined input validations, defaults to "default"</li>
        <li>*ng-model="string" (AJS) binds the validated input value to the provided model value</li>
        <li>name="string" (AJS) access to the angular forms input result via $scope[formName][inputName]</li>
        <li>po-label="string" sets the label. Angular evaluated (i.e. string value must use single quotes)</li>
        <li>placeholder="string" (H5) sets the placeholder</li>
        <li>class="string" (H5) classes specified here will be added in addition to the default .po-input class</li>
        <li>... angular supported <a href="https://docs.angularjs.org/api/ng/directive/input">input</a> elements</li>
    </ul>
    <p>Every po-input type supports default values for po-label and po-input. These can be overriden by implementing
        these
        attributes. All non-default po-input type examples below use the defaults. Taking the postcode as an
        example:</p>

    <p>All po-inputs need to be wrapped in a form or ng-form element to work. This is the same for all angular form
        element components.</p>

    <p>Default error handling is provided to input types, which will be triggered if a field returns invalid for
        regex patterns or ng-required. These default messages can be customised by passing in a custom error object
        for that failure type, or can be turned off by passing in an error message with empty strings. Examples for these
        behaviours are shown below, along with an alert panel to display the errors.</p>

    <div class="po-example po-input-default-arguments-example hljs" data-example-id="arguments">
        <p class="po-example-description"><b>Postcode with default attributes:</b></p>

        <div class="row">
            <div class="col-xs-12">
                <ng-form name="examplePostcode">
                    <input po-input="ukPostcode" ng-model="defaultArgumentsExample" required-error-obj="postCodeReqErrorObj" ng-required="true">
                </ng-form>
            </div>
        </div>
    </div>
    <div hljs>
        <input po-input="ukPostcode" ng-model="defaultArgumentsExample" required-error-obj="postCodeReqErrorObj" ng-required="true">
    </div>
    <div hljs>
        //example controller.js - This overrides default ng-required message
        $scope.postCodeReqErrorObj = {type: 'Alert', message: 'Please enter a Postcode in this box [Custom override example]'};
    </div>

    <div class="po-example po-input-arguments-example hljs" data-example-id="arguments">
        <p class="po-example-description"><b>Postcode with custom label and postcode:</b></p>

        <div class="row">
            <div class="col-xs-12">
                <ng-form name="examplePostcode">
                    <input po-input="ukPostcode" ng-model="argumentsExample" po-label="'UK Postcode'"
                           placeholder="Enter Postcode" pattern-error-obj="postCodeBlankPatternErrorObj">
                </ng-form>
            </div>
        </div>
    </div>
    <div hljs>
        <input po-input="ukPostcode" ng-model="argumentsExample" po-label="'UK Postcode'" placeholder="Enter Postcode"
               pattern-error-obj="postCodeBlankPatternErrorObj">
    </div>
    <div hljs>
        //example controller.js
        //blank strings in an error object suppress the creation of an error message
        $scope.postCodeBlankPatternErrorObj = {type: '', message: ''};
    </div>

    <h3>ukPostcode</h3>

    <p>Validates input against UK postcode regex

    <p>

    <div class="po-example po-input-postcode-example hljs" data-example-id="po-alert-notification">

        <div class="row">
            <div class="col-xs-12">
                <ng-form name="examplePostcode">
                    <input po-input="ukPostcode" ng-model="model.postcodeInputModel" pattern-error-obj="postCodePatternErrorObj" >
                    {{model.postcodeInputModel}}
                </ng-form>
            </div>
        </div>


        <div class="zero-clipboard"></div>
    </div>
    <div hljs>
        <ng-form name="examplePostcode">
            ...
            <input po-input="ukPostcode" ng-model="model.postcodeInputModel" pattern-error-obj="postCodePatternErrorObj">
            ...
        </ng-form>
    </div>
    <div hljs>
        //example controller.js - This overrides default regex pattern failure message
        $scope.postCodePatternErrorObj = {type: 'Alert', message: 'This postcode is not in the correct valid UK format [Custom override example]'};
    </div>

    <h3>ukPhone</h3>

    <p>Validates input against uk phone number regex

    <p>

    <div class="po-example po-input-uk-phone-example hljs" data-example-id="po-phone-field">

        <ng-form name="contactNumber" class="row">
            <div class="col-xs-12">
                <input po-input="ukPhone" ng-model="model.contactNumber">
            </div>
        </ng-form>

        <div class="zero-clipboard"></div>
    </div>
    <div hljs>
        <ng-form name="contactNumber">
            ...
            <input po-input="ukPhone" ng-model="model.contactNumber">
            ...
        </ng-form>
    </div>
    <p>
        Sample alert panel for the above fields (if not shown there are no validation errors):
    </p>
    <po-alert-panel/>
    <h3>Currency Box</h3>
    <p>Input validates against accepted currency attributes<p>
    <div class="po-example po-input-currency-box-example hljs" data-example-id="po-alert-notification">


        <ng-form name="currency" class="currency">
        <div class="col-xs-3">
            <input po-input="currency" ng-model="model.currency">
        </div>
        </ng-form>

        <div class="zero-clipboard"></div>
    </div>
    <div hljs>
        <ng-form name="currency">
            ...
            <input po-input="currency" ng-model="model.currency">
            ...
        </ng-form>
    </div>

    <h3>Time Input</h3>

    <p>Input validates against a valid time format</p>

    <div class="po-example hljs" data-example-id="po-alert-notification">
        <div class="row">
            <div class="col-md-4">
                <h4>Simple mode (Disabled: <input type="checkbox" ng-model="simpleTimeInputDisabled">)</h4>
                <ng-form name="timeSimple" class="timeSimple">
                    <po-time-input label="simpleTimeInputLabel" type="simple" ng-model="timeSimple" ng-disabled="simpleTimeInputDisabled"></po-time-input>
                </ng-form>
                <br>
                <p>
                    TimeInput = <span id="time-input-simple-result">{{timeSimple}}</span>
                </p>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <h4>Advanced mode (Disabled: <input type="checkbox" ng-model="advancedTimeInputDisabled">)</h4>
                <ng-form name="timeAdvanced" class="timeAdvanced">
                    <po-time-input label="advancedTimeInputLabel" type="advanced" ng-model="timeAdvanced" ng-disabled="advancedTimeInputDisabled"></po-time-input>
                </ng-form>
                <br><br>
                <p>
                    TimeInput = <span id="time-input-advanced-result">{{timeAdvanced}}</span>
                </p>
            </div>
        </div>
    </div>

    <div hljs>
        <ng-form name="time" class="time">
            ...
            <po-time-input label="timeInputLabel" type="simple/advanced" step="5/10/15/20/30 (optional)"
                           ng-model="timeInputModel" ng-disabled="shouldTheInputBeDisabled"></po-time-input>
            ...
        </ng-form>
    </div>

    <h3>requiredEmail</h3>

    <p>Validates input with default type attribute supported by angular and html5

    <p>

    <div class="po-example po-input-required-email-example hljs" data-example-id="po-input-required-email-example">

        <ng-form name="requiredEmail" class="row">
            <div class="col-xs-12">
                <input po-input="requiredEmail" ng-model="model.requiredEmail">
            </div>
        </ng-form>

        <div class="zero-clipboard"></div>
    </div>
    <div hljs>
        <ng-form name="requiredEmail">
            ...
            <input po-input="requiredEmail" ng-model="model.requiredEmail">
            ...
        </ng-form>
    </div>

    <h3>Search Input</h3>

    <p>This input allows you to use the default styling for a search box for inclusion in your microservice.

    <p>

    <p>Currently no directives associate with a search directive.. stay tuned!</p>

    <div class="po-example hljs po-search-field-example" data-example-id="po-search-field">
        <ng-form name="searchField" class="row">
            <div class="col-xs-12">
                <input po-input class="po-search-input-text" po-label="'Country Of Origin'"
                       placeholder="Enter Search Here" ng-model="countryOfOriginSearch">
            </div>
        </ng-form>
    </div>
    <div hljs>
        <ng-form name="searchField" class="row">
            <input po-input class="po-search-input-text" po-label="'Some search field'"
                   placeholder="Enter Search Here"
                   ng-model="countryOfOriginSearch">
        </ng-form>
    </div>

    <h3>default (base)</h3>

    <p>For a deeper explanation on how po-input interacts with the form controllers, and how you can access the
        result
        see the contributing section.</p>

    <p><b>Restrictions on usage.</b> This should only be used on unvalidated fields, within composite directives or
        on
        occasions when the input is not reusable</p>

    <div class="po-example po-input-default-example hljs" data-example-id="po-input-default">
        <ng-form class="row" name="poPlainTextInput">
            <div class="col-xs-12">
                <input po-input ng-model="result.licenseeForename" po-label="'Licensee Forename'"
                       placeholder="Licensee Forename Placeholder">
            </div>
        </ng-form>
    </div>
    <div hljs>
        <ng-form name="poPlainTextInput">
            ...
            <input po-input ng-model="result.licenseeForename" po-label="'Licensee Forename'"
                   placeholder="Licensee Forename Placeholder">
            ...
        </ng-form>
    </div>

    <h2 pod-sub-heading="Composite Inputs"></h2>

    <p class="lead">Composite input types use the po-input above under the covers. Each directive is an element
        directive</p>

    <h3>Supported Arguments for all Composite inputs</h3>
    <ul>
        <li>&lt;[input]&gt;="element" this is the directive name for the composite input, e.g.
            po-address-manual-input
        </li>
        <li>*ng-model="string" (AJS) binds the validated input value to the provided model value</li>
    </ul>

    <p>All po-inputs need to be wrapped in a form or ng-form element to work. This is the same for all angular form
        element components.</p>

    <p>Notice that the name, placeholder and po-input values are not supported for form composites. If you need to
        modify
        these, question the design and if it is valid, create a new composite type. See the contributing
        section.</p>

    <h3>Manual Address Input</h3>

    <p>Returns a manual address input form.

    <p>

    <h3>Implementation example</h3>

    <div class="po-example manual-address-input-example hljs" data-example-id="po-alert-notification">
        <p class="po-example-description"><b>Manual Address Input</b></p>

        <ng-form class="row">
            <div class="col-xs-12">
                <po-manual-address-input ng-model="manualAddressModel"></po-manual-address-input>
            </div>
        </ng-form>
        <p class="po-example-description"><b>Resulting ng-model</b></p>
        manualAddressModel = {{manualAddressModel}}

    </div>
    <div hljs>
        <ng-form class="row">
            ...
            <po-manual-address-input ng-model="manualAddressModel"></po-manual-address-input>
            ...
        </ng-form>
    </div>

    <h3>Manual Address Input (required)</h3>

    <p>Returns a manual address input form with fields required.

    <p>

    <h3>Implementation example</h3>

    <div class="po-example manual-address-input-required-example hljs" data-example-id="po-alert-notification">
        <p class="po-example-description"><b>Manual Address Input (required)</b></p>

        <ng-form class="row" name="po-manual-address-input-required-form">
            <div class="col-xs-12">
                <po-manual-address-input-required
                        ng-model="manualAddressRequiredModel"></po-manual-address-input-required>
            </div>
        </ng-form>
        <p class="po-example-description"><b>Resulting ng-model</b></p>
        manualAddressRequiredModel = {{manualAddressRequiredModel}}

    </div>
    <div hljs>
        <ng-form class="row">
            ...
            <po-manual-address-input-required
                    ng-model="manualAddressRequiredModel"></po-manual-address-input-required>
            ...
        </ng-form>
    </div>

    <h2 pod-sub-heading="Select/Switch inputs"></h2>

    <h3>po-select-input array usage</h3>

    <p class="lead">takes an array of select options as the <code>list</code> attribute. These are displayed when dropdown is toggled.
        When selected, the provided ngModel's view and model values are updated to the selected option. If a string is passed to the
        <code>po-placeholder</code> attribute, this string will be displayed as the initial placeholder otherwise the input will default
        to the first item in the list.
    </p>
    <p class="lead">
        The options passed to the <code>list</code> attribute can also be live updated within the view, which can be simulated by clicking the below button.
    </p>
    <p>
        <button class='btn primary-btn' ng-click="toggleList()" id="listToggleButton">Update list options</button>
    </p>

    <div class="po-example po-select-input-example hljs" data-example-id="po-select-input">

        <div class="row">
            <div class="col-xs-12">
                <po-select-input po-label="selectBoxLabel" ng-model="model.selectBoxModel"
                                 list="selectBoxItems" po-placeholder="selectBoxPlaceholder"></po-select-input>
            </div>
        </div>

    </div>
    <div hljs>
        <po-select-input po-label="selectBoxLabel" ng-model="model.selectBoxModel" list="selectBoxItems" po-placeholder="selectBoxPlaceholder"></po-select-input>
    </div>
    <p class="po-example-description"><b>Resulting ng-model</b></p>
    model.selectBoxModel = {{model.selectBoxModel}}

    <div hljs>
        //example.controller.js
        'use strict';

        angular.module('poUiDocsApp')
        .controller('PoInputsCtrl', function ($scope) {
        $scope.selectBoxItems = ['Salmon', 'Trout'];
        $scope.selectBoxModel = '';
        $scope.selectBoxLabel = 'Select Fishing Licence Type';
        $scope.selectBoxPlaceholder = 'Select an option';
        });
    </div>

    <p>use attribute ng-required to determine whether or not to validate the selection of the drop down.</p>

    <div class="po-example hljs" style="height:250px" data-example-id="po-select-input">

        <div class="row">
            <div class="col-xs-12">
                <ng-form name="form">
                    <po-select-input po-label="selectBoxLabel" ng-model="model.selectBoxModelRequired"
                                    ng-required="'true'" list="selectBoxItems" po-placeholder="selectBoxPlaceholder"></po-select-input>
                    <button class="po-btn primary-btn" ng-disabled="form.$invalid">Do something!</button>
                </ng-form>
            </div>
        </div>

    </div>

    <h3>po-select-input model and view usage</h3>

    <p class="lead">takes an object with property names corresponding to desired modelValues and values corresponding to
        desired viewValues passed in the <code>po-select-options</code> attribute. View values are displayed when dropdown
        is toggled. When selected, the provided ngModel's view and model values are updated to the selected option's view
        and model value respectively.
    </p>
    <p class="lead">
        The options passed to the <code>po-select-options</code> attribute can also be live updated within the view, which can be simulated by clicking the below button.
    </p>
    <p>
        <button class='btn primary-btn' ng-click="toggleOptions()" id="listToggleButton">Update options</button>
    </p>

    <div class="po-example hljs" style="height:250px" data-example-id="po-select-input">

        <div class="row">
            <div class="col-xs-12">
                <po-select-input po-label="selectBoxLabel2" ng-model="model.poSelectInputSelectOptionsModel"
                                 po-select-options="selectOptions" po-placeholder="selectBoxPlaceholder"></po-select-input>
            </div>
        </div>

    </div>
    <div hljs>
        <po-select-input po-label="selectBoxLabel" ng-model="model.poSelectInputSelectOptionsModel"
                         po-select-options="selectOptions" po-placeholder="selectBoxPlaceholder"></po-select-input>
    </div>
    <p class="po-example-description"><b>Resulting ng-model</b></p>
    selectBoxModel = {{model.poSelectInputSelectOptionsModel}}

    <div hljs>
        //example.controller.js
        'use strict';

        angular.module('poUiDocsApp')
        .controller('PoInputsCtrl', function ($scope) {
            $scope.selectOptions = {modelVal1: 'some label', modelVal2: 'some other label'};
            $scope.model.poSelectInputSelectOptionsModel = '';
            $scope.selectBoxLabel = 'Select Fishing Licence Type';
            $scope.selectBoxPlaceholder = 'Select an option';
        });
    </div>

    <h3>Switch Input</h3>

    <p class="lead">The switch button turns a checkbox into an on/off switch that returns a boolean. Options that can be passed to
        this directive are <code>label</code>, which should be a variable containing the text to be shown next to the
        checkbox, and <code>ng-model</code>, which should be a boolean where true is checked. In the example below,
        switchValue is a variable on the scope that has the value TRUE</p>

    <div class="po-example hljs" data-example-id="po-alert-notification">

        <div class="row">
            <div class="col-xs-12">
                <po-switch po-label="switchLabel" ng-model="switchValue"></po-switch>
            </div>
        </div>

        <div class="zero-clipboard"></div>
    </div>
    <div hljs>
        <po-switch po-label="switchLabel" ng-model="switchValue"></po-switch>
    </div>
    <p class="po-example-description"><b>Resulting ng-model</b></p>
    switchValue = {{switchValue}}
    <div hljs>
        angular.module('poUiDocsApp')
        .controller('PoInputsCtrl', function ($scope) {
        $scope.switchLabel = "Disabled License?";
        $scope.switchValue = false;
        });
    </div>

    <h3>Toggle Button Select Input: Simple version</h3>

    <p>The Toggle Button Select Input allows users to select a value by clicking a button from a selection of
        options. The values for the buttons can be passed in as an array from a controller. The number of buttons displayed
        will be equal to the length of this array - 2 to 5 buttons are supported in the current version.</p>

    <div class="po-example hljs" data-example-id="po-toggle-button">
        <div class="row">
            <div class="col-xs-12">
                <po-toggle-button-select po-label="toggleButtonLabelSimpleVersion" toggle-button-items="toggleButtonItems" ng-model="toggleSelectedSimpleVersion" column="columnToggleSelectButtonSimpleVersion"></po-toggle-button-select>
            </div>
        </div>
    </div>
    <div hljs>
        <!-- When model and view values are the same, use the toggle-button-items attribute of the simple version -->
        <po-toggle-button-select name="toggleInput" po-label="toggleButtonLabelSimpleVersion" toggle-button-items="toggleButtonItems" ng-model="toggleSelectedSimpleVersion" column="columnToggleSelectButtonSimpleVersion"></po-toggle-button-select>
    </div>
    <p class="po-example-description"><b>Resulting ng-model</b></p>

    <div class="toggle-output">
        <label> nb of columns :</label>
        <input ng-model="columnToggleSelectButtonSimpleVersion" />
        </br>
        <div>
            toggleSelectedSimpleVersion = 
            <input ng-model="toggleSelectedSimpleVersion" />
        </div>
        
    </div>
    <div hljs>
        angular.module('poUiDocsApp')
        .controller('PoInputsCtrl', function ($scope) {
            //Toggle label
            $scope.toggleButtonLabelSimpleVersion = 'Type of Licence';
            //Model
            $scope.toggleSelectedSimpleVersion = '';
            //List of items to be selected (simple version: array of strings)
            $scope.toggleButtonItems = ['Salmon & Sea Trout', 'Non-Migratory Trout & Coarse', 'Upgrade'];
            //Number of columns used to organize the toggle
            $scope.columnToggleSelectButtonSimpleVersion = 6;

            ...

            //How to reset the toggle select input
             $scope.toggleSelectedSimpleVersion = '';

            ...

            //How to programmatically set the toggle button
            $scope.toggleSelectedSimpleVersion = 'Salmon & Sea Trout';
        });
    </div>

    <h3>Toggle Button Select Input: Advanced version</h3>

    <p>The Advanced Toggle Button Select Input allows users to select a value by clicking a button from a selection of
        options, as well as by custom name attribute. For the example below, in the toggleSelectedAdvancedVersion box, if you type
        any of the model names that were setup in the controller (see $scope.toggleButtonItemsOpts below) into this box, you will see that
        the corresponding button is selected.</p>

      <div class="po-example hljs" data-example-id="po-toggle-button">
        <div class="row">
            <div class="col-xs-12">
                <po-toggle-button-select toggle-button-items-opts="toggleButtonItemsOpts" po-label="toggleButtonLabelAdvancedVersion" ng-model="toggleSelectedAdvancedVersion" column="columnToggleSelectButtonAdvancedVersion"></po-toggle-button-select>
            </div>
        </div>
    </div>
    <div hljs>
        <!-- When model and view values are different, use the toggle-button-item-opts attribute of the advanced version.
        If both are used, toggle-button-items-opts will take priority -->
        <po-toggle-button-select name="toggleInput" toggle-button-items-opts="toggleButtonItemsOpts" po-label="toggleButtonLabelAdvancedVersion" ng-model="toggleSelectedAdvancedVersion" column="columnToggleSelectButtonAdvancedVersion"></po-toggle-button-select>
    </div>
    <p class="po-example-description"><b>Resulting ng-model</b></p>

    <div class="toggle-output">
        <label> nb of columns :</label>
        <input ng-model="columnToggleSelectButtonAdvancedVersion" />
        </br>
        <div>
            toggleSelectedAdvancedVersion =
             <input ng-model="toggleSelectedAdvancedVersion" />
            
        </div>
        
    </div>
    <div hljs>
        angular.module('poUiDocsApp')
        .controller('PoInputsCtrl', function ($scope) {
            //Toggle label
            $scope.toggleButtonLabelAdvancedVersion = 'Type of Licence';
            //Model
            $scope.toggleSelectedAdvancedVersion = '';
            //List of items to be selected (advanced version: array of objects with model and view attributes)
            $scope.toggleButtonItemsOpts = [{view:'Salmon & Sea Trout',model:'salmon'}, {view:'Non-Migratory Trout & Coarse',model:'trout'}, {view:'Upgrade',model:'upgrade'}];
            //Number of columns used to organize the toggle
            $scope.columnToggleSelectButtonAdvancedVersion = 6;

            ...

            //How to reset the toogle select input
            $scope.toggleSelectedAdvancedVersion = '';

            ...

            //How to to programmatically set the toggle button
            $scope.toggleSelectedAdvancedVersion = 'salmon'; // pay attention to its type, should match the model type
        });
    </div>



    <h2 pod-sub-heading="Date Inputs"></h2>

    <h3>Manual Date Input</h3>

    <p>The manual date input field will allow users to add dates in text form. It will validate dates on blur to prevent invalid date types (e.g. 41 could not be typed in the day field).</p>

    <p><b>Be aware a model date must always be provided as a parameter in a valid date format.</b>

    <p>
    <form name="manualDateForm">
        <div class="po-example hljs po-phone-field" data-example-id="po-manual-date-field">
            <po-manual-date-input po-label="manualDateLabel" ng-model="manualDateValue" min-date="minDate" max-date="maxDate" min-date-error-obj="minDateErrorObj" max-date-error-obj="maxDateErrorObj" ng-disabled="manualDateDisabled" ng-required="isRequired"></po-manual-date-input>
            <br>
            <button ng-click="clearManualDateInput()">Clear</button>
        </div>
    </form>


    <div hljs><po-manual-date-input po-label="manualDateLabel" ng-model="manualDateValue" min-date="minDate" max-date="maxDate" min-date-error-obj="minDateErrorObj" max-date-error-obj="maxDateErrorObj" ng-disabled="manualDateDisabled" ng-required="isRequired"></po-manual-date-input>
    </div>
    <p class="po-example-description"><b>Resulting ng-model</b></p>
    manualDateValue = {{manualDateValue}}

    <div hljs>
        angular.module('poUiDocsApp')
        .controller('PoInputsCtrl', function ($scope) {
            $scope.manualDateLabel = 'Date of Birth';
            $scope.manualDateDisabled = false;
            $scope.maxDate = new Date('2018/3/17');
            $scope.minDate = new Date('2000/3/17');
            $scope.minDateErrorObj = {type: 'Alert', message: 'Please choose a more recent date'};
            $scope.maxDateErrorObj = {type: 'Alert', message: 'Please choose an older date'};
            $scope.manualDateValue = new Date('2013/3/17');
        });
    </div>

    <!-- Begin of date picker -->

    <h3>Date Picker</h3>

    <p>A clean, flexible, and fully customizable date picker. User can navigate through months. The datepicker
        shows dates that come from other than the main month being displayed. These other dates are also selectable.
    <p>Defaults to empty value but a default value can be easily set (see below).
    Use "min" and "max" attributes to set min / max allowed date (type: Date)
    <p>

    <form name="exampleDatepicker">
        <div  class="po-example hljs" data-example-id="po-datepicker-field">
            <po-datepicker-field name="datepicker" id="po-date-picker" po-label="dpLabel" ng-model="datePickerValue"
                                 min="dpUseMinDate ? thirtyDaysAgo : null" 
                                 max="dpUseMaxDate ? inThirtyDaysFromNow : null"
                                 max-date-error-obj='dpUseMaxError? maxDateErrorObj: null'  
                                 min-date-error-obj='dpUseMinError? minDateErrorObj: null'
                
                                 
                                 ></po-datepicker-field>
        </div>
         <div class="row">
            <div class='col-xs-12'>
                <po-alert-panel/>
            </div>
        </div>
    </form>
     <button class="btn"
                    ng-click="dpClearNgModelFn()"
                    ng-bind="'Clear ngModel value'"
                    />
    </br>
    <label>
        <input type="checkbox" ng-model="dpUseMinDate">
        Set min to '30 days ago' (i.e. {{thirtyDaysAgo.toDateString()}})
    </label>
    <br/>
    <label>
        <input type="checkbox" ng-model="dpUseMaxDate">
        Set max to 'in 30 days from now' (i.e. {{inThirtyDaysFromNow.toDateString()}})
    </label>
    <br/>
    <label ng-show="dpUseMinDate">
        <input type="checkbox" ng-model="dpUseMinError">
        Set min Error Handler
    </label>
    <br/>
    <label ng-show="dpUseMaxDate">
        <input type="checkbox" ng-model="dpUseMaxError">
       Set max Error Handler
    </label>
    <div hljs>
<!-- 1. Simple example -->
<po-datepicker-field label="Enter or pick a date" ng-model="datePickerValue">
</po-datepicker-field>
<!-- In js -->
$scope.datePickerValue = new Date(); // To override default (empty) value
        
<!-- 2. You can also use optional min and max values -->
<po-datepicker-field label="Watch for min and max" ng-model="datePickerValue" min="minDate" max="maxDate">
</po-datepicker-field>
<!-- In js -->
$scope.minDate = new Date('1981/5/21');
$scope.maxDate = new Date('2023/11/5');
        

<!-- 3. You can also use optional min and max error handlers -->
<po-datepicker-field label="Watch for min and max" ng-model="datePickerValue" min="minDate" max="maxDate" max-date-error-obj='maxDateErrorObj'  min-date-error-obj='minDateErrorObj'>
</po-datepicker-field>
<!-- with their errors handlers -->
$scope.maxDateErrorObj = {type: 'Alert', message: 'Please choose an older date'};
$scope.minDateErrorObj = {type: 'Alert', message: 'Please choose a more recent date'};
     </div>
        
    <p class="po-example-description"><b>Resulting ng-model</b></p>
    datePickerValue = {{datePickerValue}}
    <!-- End of date picker -->

    <h2 pod-sub-heading="Text Area"></h2>

    <h3>Generic Text Area</h3>

    <p>Text area directive which supports multiple lines of text. Change rows attribute as necessary to change the
        height of the input box.

    <p>

    <div>
        <div class="po-example hljs" data-example-id="po-input-generic">
            <div class="row">
                <div class="col-xs-12">
                    <po-text-area label="TextAreaLabel" ng-model="textAreaResult" placeholder="TextAreaPlaceholder"
                                  rows="textAreaRows"></po-text-area>
                </div>
            </div>
            <div class="zero-clipboard"></div>
        </div>
        <div hljs>
            <po-text-area label="TextAreaLabel" ng-model="textAreaResult" placeholder="TextAreaPlaceholder"
                          rows="textAreaRows"></po-text-area>
        </div>
        <div hljs>
            //example.controller.js
            'use strict';

            angular.module('poUiDocsApp')
            .controller('PoInputsCtrl', function ($scope) {
            $scope.TextAreaLabel = "Text Area";
            $scope.TextAreaPlaceholder = "Add your text here...";
            $scope.textAreaRows = 5;
            $scope.textAreaResult = ""
            });
        </div>
    </div>

</div>
